

<h3 class="text-2xl font-bold mb-5">{{question.question}}</h3>

<div class="flex flex-col gap-y-2">
    <app-reponse
        [deactive]="question.repondu"
        *ngFor="let item of question.reponses"
        [reponses]="item"
        (click)="selectReponse(item)"></app-reponse>
</div>

<!-- ========== End ========== -->

<!-- ========== Commentaire sur la reponse ========== -->

<div *ngIf="question.repondu && !question.resultat"
    class="bg-red-200 rounded-xl p-3 text-red-700 text-center font-bold">
    <span>Mauvaise Reponse</span>
</div>
<div *ngIf="question.repondu && question.resultat"
    class="bg-green-200 rounded-xl p-3 text-green-700 text-center font-bold">
    <span>Bonne Reponse</span>
</div>

